@charset "CP850";
/*
	IFMS User Interface
	www.ifms.edu.br
*/
/*
	-------------------- Variáveis
*/
/*
	-------------------- Reset
*/
*, *::before, *::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  margin: 0; }

::selection {
  background-color: rgba(0, 0, 0, 0.1); }

::-moz-selection {
  background-color: rgba(0, 0, 0, 0.1); }

/* 
	----- HTML5 
*/
aside,
footer,
header,
hgroup,
main,
nav {
  display: block; }

/* 
	----- Navegação
*/
nav ol, nav ul {
  padding: 0; }
nav a {
  display: block;
  text-decoration: none; }

/* 
	----- Títulos
*/
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin: 0 0 10px; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2.5em; }

h3 {
  font-size: 2em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: 1em; }

/* 
	----- Parágrafo
*/
p {
  font-size: 1.4em;
  line-height: 25px;
  margin: 0 0 10px; }

/* 
	----- Grids
*/
.linha {
  width: 100%; }
  .linha [class*="coluna-"] {
    width: 100%;
    padding: 10px;
    background-color: #eee;
    overflow: hidden; }

@media screen and (min-width: 768px) {
  .linha {
    width: 100%;
    *zoom: 1;
    margin: 0 auto; }
    .linha [class*="coluna-"] {
      width: auto;
      float: left; }
    .linha [class*="coluna-"]:last-of-type {
      float: right;
      background-color: #ccc; }
    .linha .coluna-1 {
      width: 8.333333333%; }
    .linha .coluna-2 {
      width: 16.666666666%; }
    .linha .coluna-3 {
      width: 25%; }
    .linha .coluna-4 {
      width: 33.333333333%; }
    .linha .coluna-5 {
      width: 41.666666666%; }
    .linha .coluna-6 {
      width: 50%; }
    .linha .coluna-7 {
      width: 58.333333333%; }
    .linha .coluna-8 {
      width: 66.666666666%; }
    .linha .coluna-9 {
      width: 75%; }
    .linha .coluna-10 {
      width: 83.333333333%; }
    .linha .coluna-11 {
      width: 91.666666666%; }
    .linha .coluna-12 {
      width: 100%; }
    .linha .coluna-centralizada {
      float: none !important;
      margin: 0 auto; }

  .linha:before, .linha:after {
    content: " ";
    display: table; }

  .linha:after {
    clear: both; } }
@media screen and (min-width: 1024px) {
  .linha {
    width: 960px; } }
/*
	-------------------- IFMS User Interface
*/
