@import "estrutura";

/*
    ----- Variáveis Sass
*/

$color1: #50cabd;
$color2: #383a47;
$color3: #2d2f39;

// Cores para a tabela
$borda-tabela: #ddd;
$background-tabela-zebrada: #ddd;

@import "grade";
// @import "formulario";
@import "botoes";
@import "tabelas";
// @import "menus";
@import "paginacao";
// @import "alertas";