/*
	IFMS User Interface
	www.ifms.edu.br
*/


/*
	-------------------- Reset
*/

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;

	margin: 0;
}


/* 
	----- HTML5 
*/
aside,
footer,
header,
hgroup,
main,
nav {
	display: block;
}


/* 
	----- Navegação
*/
nav ol,
nav ul {
	padding: 0;
}

nav a {
	display: block;
	text-decoration: none;
}


/* 
	----- Títulos
*/
h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	margin: 0;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.6em;
}

h3 {
	font-size: 2em;
}

h4 {
	font-size: 1.8em;
}

h5 {
	font-size: 1.4em;
}

h6 {
	font-size: 1.2em;
}


/* 
	----- Grids
*/

.linha {
	width: 100%;
	*zoom: 1;
}

.linha:before,
.linha:after {
    content: " ";
    display: table;
}

.linha:after {
    clear: both;
}

.linha [class*="coluna-"] {
	float: left;
	padding: 20px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.coluna-1 {
	width: 8.33333%;
}

.coluna-2 {
	width: 16.66666%;
}

.coluna-3 {
	width: 25%;
}

.coluna-4 {
	width: 33.33333%;
}

.coluna-5 {
	width: 41.66666%;
}

.coluna-6 {
	width: 50%;
}

.coluna-7 {
	width: 58.33333%;
}

.coluna-8 {
	width: 66.66666%;
}

.coluna-9 {
	width: 75%;
}

.coluna-10 {
	width: 83.33333%;
}

.coluna-11 {
	width: 91.66666%;
}

.coluna-12 {
	width: 100%;
}

.coluna-direita {
	float: right !important;
}

.coluna-centralizada {
	float: none !important;
	margin: 0 auto;
}


/*
	-------------------- IFMS User Interface
*/


/* 
	----- Cabeçalho
*/

.header-lateral {
	position: fixed;
	top: 0;
	left: 0;

	height: 100%;

	padding: 0 !important;

	background-color: rgb(55, 83, 94);
}

.header-lateral hgroup {
	padding: 20px;
}

.header-lateral h1 {
	color: rgba(255, 255, 255, .8);
	font-size: 3.5em;
	font-weight: 600;
}

.header-lateral h2 {
	color: rgba(255, 255, 255, .6);
	font-size: 1.8em;
	text-transform: lowercase;
}

.header-lateral nav li {
	border-bottom: solid 1px rgba(255, 255, 255, .08);
}

.header-lateral nav li:first-child {
	border-top: solid 1px rgba(255, 255, 255, .08);	
}

.header-lateral nav a {
	position: relative;
	color: rgba(255, 255, 255, .6);
	font-size: 1.6em;
	padding: 12px 20px;
}

.header-lateral nav a:hover {
	background-color: rgb(72, 100, 111);
}

.header-lateral nav a:hover:after {
	content: "";
	position: absolute;
	top: 14px;
	right: 10px;
	
	display: block;
	padding: 10px;

	border-radius: 100%;
	background-color: rgb(55, 83, 94);
}


